<!DOCTYPE html>
<html lang="en">

<head>
	<title>SkullyBot {% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		<h1>SkullyBot</h1>
		{% block containercontent %}{% endblock %}
		<hr>
		<div class="footer">
			<p class="text-muted"><small>This is a very basic webapp created by Michael Cohen. I very much so bootstrapped this so things might not work perfect out of the box. If you run into any problems, don't hesitate to reach out.
					The source code for this project can be found at <a href="https://github.com/michael-cohen-eth/SkulliesBot">github/michael-cohen-eth/SkulliesBot</a>.</small></p>
			<p><small>WAGMI fren :)</small></p>
		</div>
	</div>
</body>

</html>