{% extends "base.html" %}
{% block title %}Success{% endblock %}
{% block containercontent %}
<h2>Successfully logged in</h2>
<p>Thank you, <strong>{{ name }}</strong>, for authorizing SkullyBot an access token for <a href="https://twitter.com/{{ screen_name }}">@{{
	screen_name }}</a>. We've successfully logged you into Twitter so now we can post on your account's behalf!</p>
	<p>Here is what we pulled from the API on your behalf:</p>
	<ul>
		<li>You have Tweeted <span class="label label-success">{{ statuses_count }}</span> times.</li>
		<li>You have <span class="label label-success">{{ followers_count }}</span> followers.</li>
	</ul>
	<a href="/home" class="btn btn-small btn-primary">Take me to the SkullyBot command center!</a>
	<hr>
{% endblock %}