{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block containercontent %}
<h2>Home</h2>
<p>Welcome, <strong>{{ name }}</strong>!</p>
<h3>Automated bot:</h3>
<p>Bot scheduler enabled: <strong>{{ bot_enabled }}</strong></p>
{% if bot_enabled %}
	<a href="/disable" class="btn btn-small btn-warning">Disable SkullyBot</a>
{% else %}
	<a href="/enable" class="btn btn-small btn-success">Enable SkullyBot</a>
{% endif %}
<br />
<br />
<h3>Backfill all previous sales: </h3>
<p>This will send out tweets for the last 60 sales that happened.</p>
<a href="/backfill" class="btn btn-small btn-primary">Backfill</a>
<hr>
{% if logged_in %}
	<br />
	<a href="/logout" class="btn btn-small btn-danger">Logout</a>
{% endif %}
{% endblock %}