{% extends "base.html" %}
{% block containercontent %}
<p class="lead">Welcome to SkullyBot. The basic functionality of this site is to power the Twitter sales bot for Skullies.</p>
<div class="hero-unit">
	<p>To get started, we'll need you to authorize this app to access the @SKULLY_BOT Twitter account.</p>
	<p>Here's what needs to be done to power this app:</p>
	<ol>
		<li>Click the "Login" button below and authenticate to the @SKULLY_BOT account.</li>
		<li>While at Twitter.com you will authorize SkullyBot and you'll then be redirected back to us.</li>
		<li>Once you're logged in, click on the "Enable Skully Bot" button to have the SkullyBot program actually start tweeting out updates.</li>
	</ol>
</div>
<p>Ready to get started?</p>
{% if logged_in %}
	Already logged in! 
	<a href="/home" class="btn btn-small btn-success">Go Home</a>
{% else %}
	Not logged in! 
	<a href="/start" class="btn btn-small btn-success">Login</a>
{% endif %}
{% endblock %}